<div class="container-fluid page_box h21-theme">

	<ng-template #loginErrorTpl>
		<button mat-icon-button (click)="closeSnackBar()">
			<mat-icon>close</mat-icon>
		</button>
		<span>Incorrect login or password!</span>
	</ng-template>

	<ng-container *ngIf="loginFormVisibility">
		<div class="po_login-box">
			<div class="po_splash-screen"
				 [@splashScreenVisibility]="animationState"
				 (@splashScreenVisibility.start)="onAnimationStart($event)"
				 (@splashScreenVisibility.done)="onAnimationDone($event)">&nbsp;</div>
			<div class="po_login-form-box"
				 [@loginFormVisibility]="animationState">
				<div class="po_login-form">
					<span class="po_login-form-title">Login Page</span> <!--<img src="./assets/img/logo-2.svg" alt="Horse21.Pro" class="po_logo" />-->
					<div class="po_login-form-fileds">
						<mat-form-field class="__w-100">
							<input type="text" matInput placeholder="Login" [formControl]="loginControl">
							<mat-error *ngIf="loginControl.hasError('required')">You must enter a value</mat-error>
						</mat-form-field>
						<mat-form-field class="__w-100">
							<input [type]="passwordVisibility" matInput placeholder="Password" [formControl]="passwordControl">
							<button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
								<mat-icon color="primary" *ngIf="passwordVisibility == 'text'">visibility</mat-icon>
								<mat-icon *ngIf="passwordVisibility == 'password'">visibility_off</mat-icon>
							</button>
							<mat-error *ngIf="passwordControl.hasError('required')">You must enter a value</mat-error>
						</mat-form-field>
					</div>
					<button mat-raised-button color="primary" class="__w-100" (click)="login()">Sign in</button>
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="contentVisibility">
		<div class="container-fluid page_box h21-theme"
			 [@mainContentVisibility]="'enter'">
			<div class="row no-gutters page_header-box">
				<div class="col-12 no-gutters">
					<h21-header [userName]="userName"
								[title]="titleText"
								[userCardData]="userCardData"
								[showNotifications]="false"
								[showServicesMenuBtn]="false"
								(onLogout)="logout()"
					></h21-header>
				</div>
			</div>
			<div class="row no-gutters page_content-box">
				<div class="col-12 no-gutters __has-sidebar">
					<h21-sidebar-nav [selected]="sidebarNavActiveTab"
									 [disabled]="sidebarNavDisabled"
									 [(tabs)]="sidebarNavTabs"
									 (onChanged)="sidebarNavAction($event)"></h21-sidebar-nav>
					<div class="page_content">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
</div>





