<div class="c-board">
	<div class="row">
		<div class="col-4">
			<a href="#" target="_blank" class="c-board_item">
				<img src="./assets/img/board-hotel-booking-icon.svg" alt="" />
				Hotel booking
			</a>
		</div>
		<div class="col-4">
			<a [routerLink]="['/trip_request']" class="c-board_item">
				<img src="./assets/img/board-my-profile-icon.svg" alt="" />
				Trip Request
			</a>
		</div>
		<div class="col-4">
			<a [routerLink]="['/profile']" class="c-board_item">
				<img src="./assets/img/board-trip-request-icon.svg" alt="" />
				My profile
			</a>
		</div>
	</div>
</div>
