<div class="c-trip-request">
	<h2 class="po_title">{{title}}</h2>

	<div class="c-trip-request_form-wrapper">
		<mat-form-field class="po_form-field">
			<input type="text" matInput placeholder="First name traveler" [formControl]="travelerFirstNameControl"
				   required/>
			<mat-error *ngIf="travelerFirstNameControl.hasError('required')">You must enter a value</mat-error>
		</mat-form-field>
		<mat-form-field class="po_form-field">
			<input type="text" matInput placeholder="Last name traveler" [formControl]="travelerLastNameControl"
				   required/>
			<mat-error *ngIf="travelerLastNameControl.hasError('required')">You must enter a value</mat-error>
		</mat-form-field>

		<mat-form-field class="po_form-field">
			<input type="text" matInput required
				   placeholder="Destination"
				   [formControl]="destinationControl"
				   [matAutocomplete]="destinationAutocomplete" />
			<mat-error *ngIf="destinationControl.hasError('required')">You must enter a value</mat-error>
			<mat-autocomplete #destinationAutocomplete="matAutocomplete" class="po_autocomplete">
				<mat-option *ngFor="let destination of filteredDestinationList | async"
							[value]="destination.id"
							(onSelectionChange)="selectDestination(destination.id)">
					{{destination.name}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<h21-two-month-calendar [fromDateText]="'Arrival'"
								[toDateText]="'Departure'"
								[suffixText]="'date'"
								[(selectedFromDate)]="arrivalDate"
								[(selectedToDate)]="departureDate"
								(onSelectedFromDateChanged)="changeArrivalDate($event);"
								(onSelectedToDateChanged)="changeDepartureDate($event);"></h21-two-month-calendar>

		<mat-form-field class="po_form-field">
			<textarea matInput placeholder="Extras" rows="3"></textarea>
		</mat-form-field>

		<div class="__text-right">
			<button mat-raised-button color="primary" (click)="submit()">Submit</button>
		</div>
	</div>

</div>
