<div class="c-profile">
	<mat-card class="c-profile_card">
		<div class="c-profile_card-header">
			<h2 class="po_title">{{profileData.firstName}} {{profileData.lastName}}</h2>
			<mat-card-header>
				<div mat-card-avatar>
					<mat-progress-spinner
						*ngIf="avatarPreloaderVisibility"
						[color]="'primary'"
						[mode]="'indeterminate'"
						[strokeWidth]="'4'"
						[diameter]="'160'">
					</mat-progress-spinner>
					<img [src]="profileData.pictureUrl"
						 [class.__is-loaded]="!avatarPreloaderVisibility"
						 (load)="hideAvatarPreloader()"
						 alt=""/>
				</div>
				<div class="c-profile_meta-data-box">
					<div class="row">
						<div class="col-12 col-xl-6">
							<div class="row no-gutters c-profile_meta-data">
								<div class="col-6">Date of registration:</div>
								<div class="col-6"><b>{{profileData.registrationDate | date: 'MM.dd.yyyy HH:mm'}}</b></div>
							</div>
						</div>
						<div class="col-12 col-xl-6">
							<div class="row no-gutters c-profile_meta-data">
								<div class="col-6 col-xl-4">Identity user ID:</div>
								<div class="col-6 col-xl-8">{{profileData.identityUserId}}<b></b></div>
							</div>
						</div>
						<div class="col-12 col-xl-6">
							<div class="row no-gutters c-profile_meta-data">
								<div class="col-6">Date of update:</div>
								<div class="col-6"><b>{{profileData.updateDate | date: 'MM.dd.yyyy HH:mm'}}</b></div>
							</div>
						</div>
						<div class="col-12 col-xl-6">
							<div class="row no-gutters c-profile_meta-data">
								<div class="col-6 col-xl-4">Status:</div>
								<div class="col-6 col-xl-8">{{profileData.status}}<b></b></div>
							</div>
						</div>
					</div>
				</div>
			</mat-card-header>
		</div>
		<mat-card-content>
			<h4 class="po_title">General info</h4>
			<div class="row">
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="First Name" readonly="true" [value]="profileData.firstName">
						<span matSuffix class="po_required-suffix">*</span>
					</mat-form-field>
				</div>
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="Last Name" readonly="true" [value]="profileData.lastName">
						<span matSuffix class="po_required-suffix">*</span>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="Middle Name" readonly="true" [value]="profileData.middleName">
					</mat-form-field>
				</div>
				<div class="col-6">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="Company name" readonly="true" [value]="profileData.companyName">
					</mat-form-field>
				</div>
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="Function" readonly="true" [value]="profileData.function">
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="Email" readonly="true" [value]="profileData.email">
						<span matSuffix class="po_required-suffix">*</span>
					</mat-form-field>
				</div>
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="Password" readonly="true" [value]="profileData.password">
						<span matSuffix class="po_required-suffix">*</span>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<mat-form-field class="po_form-field">
						<input matInput placeholder="Phone" readonly="true" [value]="profileData.phone">
						<span matSuffix class="po_required-suffix">*</span>
					</mat-form-field>
				</div>
				<div class="col-6">&nbsp;</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
